################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/新建文件夹/v17/.wsuo
/.vs/新建文件夹/FileContentIndex/620a3ecc-9b8f-407f-afc0-2714fff28185.vsidx
/.vs
